body {
    background-color: white;
}

#banner {
	text-align: center;
	padding-top: 5%;
}

#links {
	text-align: center;
	padding-top: 5%;
}


#projects {
	text-align: center;
}


#assignment2{
	text-align: center;
	padding-top: 50px;
}

#assignment3{
	text-align: center;
	padding-top: 10px;
}


#tiger {
	text-align: center;
	padding-top:1%;

}

#flowchart {
	text-align: center;
	padding-top: 100px;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#homebutton {
	text-align: center;
	padding-top: 5%;
}

#atiger {
	text-align: center;
	position:absolute;
}

#explanation {
	text-align: center;
	padding-top:2%;
}


#triangle-down {
	width: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-top: 110px solid #b37700;
	margin-top: -70px;
	margin-left:0px;
}


#mouth {
	width: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 5px solid black;
	margin-top: -45px;
	margin-left: 50px;
}

#nose {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 10px solid #4d1a00;
	margin-top: -15px;
	margin-left: 50px;
}

#nose2 {
	width: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 35px solid #b35900;
	margin-top: -45px;
	margin-left: 50px;
}

#whiteeyebrows {
		width: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 30px solid white;
	margin-top: -50px;
	margin-left: 30px;
}


#whiteeyebrows2 {
		width: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 30px solid white;
	margin-top: -30px;
	margin-left: 80px;
}

.shape {
	padding-top:100px;
	padding-left: 550px;
	text-align: center;
	position: relative;
	
}



#trapezoid {
	border-bottom: 30px solid #b37700;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 100px;
	margin-top: -63px;
}

#leftear {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 50px solid #e6e6e6;
	border-bottom: 20px solid transparent;
	margin-top: -44px;
	margin-left:0px;
}


#leftear2 {
	width: 0;
	height: 0;
	border-bottom: 10px solid black;
	border-right: 30px solid transparent;
	margin-top: -40px;
	margin-left:20px;
}

#leftear3 {
	width: 0;
	height: 0;
	border-top: 10px solid black;
	border-left: 30px solid transparent;
	margin-top: -10px;
	margin-left:-9px;
}


#rightear {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 50px solid #e6e6e6;
	border-bottom: 20px solid transparent;
	margin-top: -35px;
	margin-left: 90px;
}


#rightear2 {
	width: 0;
	height: 0;
	border-bottom: 10px solid black;
	border-left: 30px solid transparent;
	margin-top: -10px;
	margin-left:90px;
}


#rightear3 {
	width: 0;
	height: 0;
	border-top: 10px solid black;
	border-right: 30px solid transparent;
	margin-top: -10px;
	margin-left: 120px;
}

#lefteye {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 6px solid black;
	margin-top: 50px;
	margin-left: 36px;
}


#righteye {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 6px solid black;
	margin-top: -5px;
	margin-left: 86px;
}


#leftcheek {
	width: 0;
	height: 0;
	border-top: 70px solid transparent;
	border-right: 80px solid #ffaa00;
	border-bottom: 30px solid transparent;
	margin-top: -30px;
	margin-left: -35px;
}


#rightcheek {
	width: 0;
	height: 0;
	border-top: 70px solid transparent;
	border-left: 80px solid #ffaa00;
	border-bottom: 30px solid transparent;
	margin-top: -100px;
	margin-left: 95px;
}


#stripes {
	width: 70px;
	height: 2px;
	background: black;
	margin-top: -50px;
	margin-left:35px;
}


#stripes2 {
	width: 50px;
	height: 2px;
	background: black;
	margin-top: 5px;
	margin-left:45px;
}

#spiritanimaljavascript {
	font-family:Helvetica;
	color:black;
	text-align: center;
	margin-top: 100px;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

a:hover {
    color: #ffaa00;
}


#notatiger{
	text-align: center;
	font-family: helvetica;
	margin-top: 130px;
	font-size: 10px;
	color:gray;
}